@model CustomerDetails.Models.CustomerShortInfo

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Name</th>
            <th>Id</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Name)
            <td>
                @Html.DisplayFor(model => model.ICustomer)
            </td>
            <td>
                @Html.DisplayFor(model => model.email)
            </td>
            <td>
                @Html.DisplayFor(model => model.CreationDate)
            </td>
        </tr>
    </tbody>
</table>




