@model CustomerDetails.PortaCustomerShortInfo
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Getting Call From </h4>
</div>

<div class="modal-body">
    <button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
    <div class="table-responsive">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        <div class="text-info">
                            <b>My Name is Shantanu</b>
                        </div>
                    </td>
                    <td>
                        <div class="text-info">
                            <b>My ID is </b>
                        </div>
                    </td>
                    <td>
                        <div class="text-info">
                            Your Email
                        </div>
                    </td>
                    <td>
                        <div class="text-info">
                            YOu Phone NO
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primar" data-dismiss="modal">Close</button>
    </div>
</div>

